.App {
  font-family: 'Inter';
  padding-left: 67px;
  padding-top: 60px;

  display: flex;
  flex-direction: column;
  background-color: #F1F1F1;
}
.pd13{
  margin-left: 13px;
}
.Top{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Header{
  display: flex;
  flex-direction: column;
}
.Feature-Buttons{
  display: flex;
  flex-direction: row;
  width: 289px;
  justify-content: space-between;
  padding-top: 60px;
}
.Feature-List{
  padding-top: 20px;
}